:root {
    --primary-color: #b4c080;
    --primary-border: #5c682d;
    --secondary-text: #ffffff; 
    --lost:         #dd9f9f;
    --lost-text:    #751010;
    --lost-border: #751010;
    --primary-text: hwb(0 40% 59%); 
    --border: 3px solid var(--primary-border);
    --border-lost: 3px solid var(--lost-border);
  }

body {
    background-color: #121212;
    color: #fff;
    /* Other dark mode styles */
}


h1 {
    text-align: left;
    font-size: 36px;
    font-family: Arial, sans-serif;

}

p {
    text-align: center;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

p.error {
    color: red;
}

table {
    margin: 0 auto;
    border-spacing: 5px 10px;
}

th {
    border: var(--border);
    color: var(--secondary-text);
    padding: 2px;
    border-radius: 5px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    height: 50px;
}


td {
    border: var(--border);
    padding: 2px;
    border-radius: 5px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    height: 50px;
    color: var(--primary-text);
}

td.word {
    width: 200px;
    background-color: var(--primary-color)
}

td.word.lost {
    background-color: var(--lost) ;
    color: var(--lost-text);
    border: var(--border-lost);
}

td.paths {
    width: 90px;
    color: var(--secondary-text);
}


td.paths.lost {
    background-color: var(--lost) ;
    color: var(--lost-text);
    border: var(--border-lost);
}

form {
    width: 40%; 
    margin: 0 auto;
    /* padding: 1%; */
    /* border: 1px solid rgb(101, 179, 124); */
    /* border-radius: 5px; */
    /* background-color: #6c726d; */
} 

label {
    display: block;
    margin-bottom: 10px;
}


input[type="text"] {
    background-color: var(--primary-color);
    color: var(--primary-text);
    font-size: 34px;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 3% 3%;
    border: var(--border);
    border-radius: 3px;
    cursor: pointer;
    width: 100%; 
}

input[type="text"]::placeholder {
    color: var(--primary-text);
}
