:root {
    --primary-color: #a8b95b;
    --primary-border: #5f6e1f;
    --secondary-text: #ffffff; 
    --metric-color: #cc9068;
    --lost:         #dd9f9f;
    --lost-text:    #751010;
    --lost-border: #751010;
    --primary-text: #ffffff; 
    --border: 3px solid var(--primary-border);
    --border-thin: 1px solid var(--primary-border);
    --border-lost: 3px solid var(--lost-border);
    --background-color: #1a1919;
    --font-large: 7vw;
    --font-medium: 5vw;
    --font-small: 4vw;
    --font-xsmall: 3vw;
    --padding-standard: 2vw;
    --padding-header: 3vw;
    --width-word: 30vw;
    --width-path: 20vw;
  }

@media only screen and (min-device-width: 1024px) {
    :root{
    --font-large: 34px;
    --font-medium: 28px;
    --font-small: 20px;
    --font-xsmall: 18px;
    --padding-standard: 10px;
    --padding-header: 12px;
    --width-word: 400px;
    --width-path: 300px;
    }
}

body {
    background-color: var(--background-color);
    color: #fff;
    height: 100%;
    display: inline;
    /* Other dark mode styles */
}
html {
    margin: 0;
    height: 100%;
}


h1 {
    text-align: left;
    font-size: var(--font-large);
    font-family: Arial, sans-serif;
    margin: 0;
    margin-left: 1%;
    margin-top: 1%;

}

p {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: var(--font-small);
    font-family: 'Andale Mono', monospace;
}

p.error {
    color: red;
}

table.main {
    border-spacing: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    table-layout: auto;
}


table.main th {
    border: var(--border);
    color: var(--secondary-text);
    padding: var(--padding-header);
    border-radius: 5px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: var(--font-medium);
    font-weight: bold;
    text-transform: uppercase;
}


table.main td {
    border: var(--border);
    padding: var(--padding-standard);
    border-radius: 5px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: var(--font-medium);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary-text);
}

td.word {
    width: var(--width-word);
    background-color: var(--primary-color)
}

td.word.lost {
    background-color: var(--lost) ;
    color: var(--lost-text);
    border: var(--border-lost);
}

td.paths {
    width: var(--width-path);
    color: var(--secondary-text);
}


td.paths.lost {
    background-color: var(--lost) ;
    color: var(--lost-text);
    border: var(--border-lost);
}

hr {
    display: flex;
    justify-content: center;
    height: 1px;
    border: 0;
    border-top: 3px solid var(--metric-color);
    width: 90%;
}

table.metric {
    border-spacing: 5px 10px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    table-layout: auto;
}

table.metric td {
    padding: var(--padding-standard);
    border-radius: 5px;
    text-align: center;
    font-family: Arial, sans-serif;
}

table.metric td.letter {
    background-color: var(--background-color);
    color: var(--secondary-text);
    border: none;
    text-transform: capitalize;
    font-size: var(--font-small);
}

table.metric td.header {
    background-color: var(--background-color);
    color: var(--secondary-text);
    border: none;
    text-transform: capitalize;
    font-size: var(--font-medium);
}

table.metric td.score0 {
    background-color: var(--background-color) ;
    color: var(--secondary-text);
    border: var(--border);
    font-size: var(--font-medium);
}

table.metric td.score1 {
    background-color: var(--metric-color) ;
    font-size: var(--font-medium);
    color: var(--secondary-text);
    border: 3px solid #c0713c;
}

form {
    width: auto; 
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 1%; */
    /* border: 1px solid rgb(101, 179, 124); */
    /* border-radius: 5px; */
    /* background-color: #6c726d; */
} 

input[type="text"] {
    background-color: var(--primary-color);
    color: var(--primary-text);
    font-size: var(--font-medium);
    text-align: center;
    font-family: Arial, sans-serif;
    padding: var(--padding-standard);
    border: var(--border);
    border-radius: 3px;
    cursor: pointer;
    text-transform: lowercase;

}

input[type="text"]::placeholder {
    color: var(--primary-text);
    font-size: var(--font-medium);
    text-transform: capitalize;
}


.rules-ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
    overflow:auto;
    background-color: var(--background-color);
    text-align: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font-small);
}

.rules-ul li {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.rules-ul li::before{
    content: "\2705" ;
}

.about-ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: var(--background-color);
    text-align: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font-small);
}

.about-ul li {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.about-ul li::before {
    content: "\1F426";
}

.navi {
    list-style-type: none;    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--background-color);
}

.navi li {
    float: right;
    background-color: var(--background-color)
}

.navi li:last-child {
    border-left: none;
}

.navi li a {
    display: block;
    color: var(--primary-border);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: var(--font-medium);
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}


.navi li a:hover {
    background-color: var(--primary-color);
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.popup2text {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.popup2text.show {
    position: absolute;
    bottom: 0;
    width: 80%;
    max-height: max-content;
    margin-left: 10%;
    margin-top: 45vh;
    margin-right: 10%;
    display: flex;
    opacity: 0.9;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background-color);
    font-size: var(--font-small);
    text-transform: lowercase;
}

.p-def {
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font-small);
}


#popup2 {
    display: none; /* Initially hidden */
    position: fixed;
    margin-top: 10%;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #86b17d;
    border: 1px solid #1c1a1a;
    padding: 10px;
    z-index: 9999;
    border-radius: 10px;
    color: var(--background-color);
    font-size: var(--font-xsmall);
  }

h2 {
    text-align: center;
    font-size: var(--font-medium);
    font-family: 'Andale Mono', monospace;
}