<!DOCTYPE html>
<html>
<head>
    <title>Pipit</title>
    <script>
        function storeCursorPosition() {
            var input = document.getElementById("guess");
            localStorage.setItem("cursorPosition", input.selectionStart);
        }

        function restoreCursorPosition() {
            var input = document.getElementById("guess");
            var cursorPosition = localStorage.getItem("cursorPosition");
            if (cursorPosition) {
                input.selectionStart = cursorPosition;
                input.selectionEnd = cursorPosition;
            }
        }
        function resetForm() {
            document.getElementById("guess").value = "...";
        }
        window.onload = restoreCursorPosition;
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
    <h1> Pipit
    <img src="{{ url_for('static', filename='pipit_2.jpg') }}" alt="My Image" width="45" height="45" style="border-radius: 50%; float:left; position:relative">
    </h1>
    <ul> 
        {% for item in nav.top %} 
        <li class="{{ 'active' if item.is_active else '' }}"> 
            <a href="{{ url_for(item.label) }}">{{ item.label }}</a> 
        </li> 
        {% endfor %} 
    </ul> 
    </nav>
    <form action="/" method="post">
        <input type="text" id="guess" name="guess" placeholder="Your guess..." autofocus onblur="storeCursorPosition()" spellcheck="false" autocomplete="off" autocorrect=""off>
    </form>
    <h1> </h1>
    <break></break>
    <div class="container"></div>
        <table>
            <tbody>
                <th>
                    Guess
                </th>
                <th>
                    Paths
                </th>
            {% for stack in game.full_stack.keys() %}
            {% set rowloop = loop %}
                <tr>
                    {% for key in ['word', 'paths'] %}
                        {% if key == 'paths' %}
                            {% if not rowloop.last and not rowloop.first and stack['paths'] != '??' and game.full_stack[rowloop.index1]['paths'] == '??' %}
                                <td>
                                    <div class="flip" id="counter"> {{ stack['paths'] }}</div>
                                <script>
                                    var counter_start = Number("{{ game.full_stack[rowloop.index0 - 1]['paths'] }}")
                                    var counter_end = Number("{{ stack['paths'] }}")
                                    if (counter_end >= counter_start) {
                                        // up
                                        direction = 1;
                                    }
                                    else {
                                        // down
                                        direction = -1;
                                    }
                                    var counter_diff = Math.abs(counter_end - counter_start)
                                    var interval = Math.max(Math.ceil(Math.sqrt(counter_diff)/15), 1);
                                    let counter = counter_start;
                                    const intervalId = setInterval(() => {
                                        counter+=interval*direction;
                                        document.getElementById("counter").textContent = counter;
                                        if (counter <= counter_end && direction == -1) {
                                        clearInterval(intervalId);
                                        document.getElementById("counter").textContent = counter = counter_end;
                                        }
                                        else if (counter >= counter_end && direction == 1) {
                                        clearInterval(intervalId);
                                        document.getElementById("counter").textContent = counter = counter_end;
                                        }
                                    }, 1); // Adjust the interval time as needed
                                </script>
                                </td>
                            {% else %}
                                <td class ="{{ key }}{% if stack['paths']==0 %} lost{% endif %}">{{ stack['paths'] }}</td>
                            {% endif %}
                        {% else %}
                            <td class ="{{ key }}{% if stack['paths']==0 %} lost{% endif %}" id="{{ 'popup_' ~ rowloop.index0 }}">{{ stack[key] }}
                            {% if stack['def'] != '' %}
                            <div class="popuptext" id="{{ 'popuptext_' ~ rowloop.index0 }}">{{ game.full_stack }}</div>
                            <script>
                                document.getElementById("{{ 'popup_' ~ rowloop.index0 }}").addEventListener('mouseenter',
                                    () => {
                                        document.getElementById("{{ 'popuptext_' ~ rowloop.index0 }}").classList.add('show');
                                    });
                        
                                    document.getElementById("{{ 'popup_' ~ rowloop.index0 }}").addEventListener('mouseleave',
                                    () => {
                                        document.getElementById("{{ 'popuptext_' ~ rowloop.index0 }}").classList.remove('show');
                                    });
                            </script>
                            {% endif %}
                        </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <script>
            const flipElement = document.querySelector('.flip');
            const initialValue = parseInt(document.querySelector('.starting_num').textContent);
            flipElement.style.setProperty('--num', initialValue);
        </script>
    </div>
    {% if game.message != '' %}
    <p class="{% if not game.valid_guess %}error{% endif %}">{{ game.message }}</p>
    {% endif %}
</body>

</html>