<!DOCTYPE html>
<html>
<head>
    <title>Pipit</title>
    <script>
        if (!localStorage.getItem('metricCookie')) {
            localStorage.setItem('metricCookie', '0000000000000000000000000000'); // Set initial metric cookie
        }
        function storeCursorPosition() {
            var input = document.getElementById("guess");
            localStorage.setItem("cursorPosition", input.selectionStart);
        }

        function restoreCursorPosition() {
            var input = document.getElementById("guess");
            var cursorPosition = localStorage.getItem("cursorPosition");
            if (cursorPosition) {
                input.selectionStart = cursorPosition;
                input.selectionEnd = cursorPosition;
            }
        }
        function resetForm() {
            document.getElementById("guess").value = "...";
        }
        window.onload = restoreCursorPosition;
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
    <h1> Pipit
    <img src="{{ url_for('static', filename='pipit_2.jpg') }}" alt="My Image" width="45" height="45" style="border-radius: 50%; float:left; position:relative">
    </h1>
    <ul class="navi"> 
        {% for item in nav.top %} 
        <li class="{{ 'active' if item.is_active else '' }}"> 
            <a href="{{ url_for(item.label) }}">{{ item.label }}</a> 
        </li> 
        {% endfor %} 
    </nav>
    <form action="/" method="post">
        <input type="text" id="guess" name="guess" placeholder="Your guess..." autofocus onblur="storeCursorPosition()" spellcheck="false" autocomplete="off" autocorrect=""off>
    </form>
    <h1> </h1>
    <break></break>
    <div id="popup2">
        <button id="close-popup">Close</button>
        <h2>Welcome to Pipit!</h2>
        <p>Pipit is a daily word ladder game. <br>
            Goal: Make the first word turn into the last word by changing one letter at a time. <br><br>
            Note 1: Letters are allowed to change location in the next work. <br>
            Note 2: Guess "..." to reset. <br>
            Note 3: Type "give up" to see an answer. <br>
            Note 4: The "Paths" number represents how many shortest paths still remain to the end. <br>
            Note 5: Click or hover on a word to see its definition. <br> <br>
            Click anywhere to close this. <br>
            Enjoy!
        </p>
    </div>
    <script>
        if (!localStorage.getItem('popup2Shown')) {
        // Show the popup
        document.getElementById('popup2').style.display = 'block';
        // Close the popup when the close button is clicked
        document.addEventListener('click', function()
        {
            document.getElementById('popup2').style.display = 'none';
            localStorage.setItem('popup2Shown', 'true'); // Mark the popup as shown
        });
        }
    </script>
    <div class="container"></div>
        <table class="main">
            <tbody>
                <th>
                    Guess
                </th>
                <th>
                    Paths
                </th>
            {% for stack in full_stack.keys() %}
            {% set rowloop = loop %}
                <tr>
                    {% for key in ['word', 'paths'] %}
                        {% if key == 'paths' %}
                            {% if stack != 99 and stack !=0 and full_stack[stack]['paths'] != '??' %}
                                <td>
                                    <div class="flip" id="counter"> {{ full_stack[stack]['paths'] }}</div>
                                </td>
                            {% else %}
                                <td class ="{{ key }}{% if full_stack[stack]['paths']==0 %} lost{% endif %}">{{ full_stack[stack]['paths'] }}</td>
                            {% endif %}
                        {% else %}
                            <td class ="{{ key }}{% if full_stack[stack]['paths']==0 %} lost{% endif %}" id="{{ 'popup_' ~ rowloop.index0 }}">{{ full_stack[stack][key] }}
                            {% if full_stack[stack]['def'] != '' %}
                            <div class="popuptext" id="{{ 'popuptext_' ~ rowloop.index0 }}">{{ full_stack[stack]['def'] }}</div>
                            <script>
                                document.getElementById("{{ 'popup_' ~ rowloop.index0 }}").addEventListener('mouseenter',
                                    () => {
                                        document.getElementById("{{ 'popuptext_' ~ rowloop.index0 }}").classList.add('show');
                                    });
                        
                                    document.getElementById("{{ 'popup_' ~ rowloop.index0 }}").addEventListener('mouseleave',
                                    () => {
                                        document.getElementById("{{ 'popuptext_' ~ rowloop.index0 }}").classList.remove('show');
                                    });
                            </script>
                            {% endif %}
                        </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <script>
            const flipElement = document.querySelector('.flip');
            const initialValue = parseInt(document.querySelector('.starting_num').textContent);
            flipElement.style.setProperty('--num', initialValue);
        </script>
    </div>
    {% if message != '' %}
    <p class="{% if not valid_guess %}error{% endif %}">{{ message }}</p>
    {% endif %}
    <div>
        <hr>
        <table class="metric">
            <tr> 
                <td  class="header" colspan="6">Your Monthly Solve Statistics </td> 
            </tr>
            {% for mo_list in [['01', '02', '03', '04', '05', '06'], ['07', '08', '09', '10', '11', '12']] %}
            <tr>
                {% for month in mo_list %}        
                    <td class="letter">{{ metric[month]['letter'] }}</td>
                {% endfor %}
            </tr>    
            <tr>
                {% for month in mo_list %}
                    <td class="{{ metric[month]['class'] }}">{{ metric[month]['score'] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>